output-files_bug/
output-files_bug/*/
output-files/
output-files/*/
input-files/
input-files/*/
lib/__pycache__/*
test-stride/*

PYTHON-scripts/*
!PYTHON-scripts/Hs-Hk-slope.py
!PYTHON-scripts/remove_H_atoms.py
!PYTHON-scripts/ResRel-MPI.py
